:root {
    --white: #ffffff;
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    --font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: var(--font);
    background-image: url(./img/bg-intro-desktop.png);
    background-color: var(--red);
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    margin: 15rem 0 10rem 8.8rem;
}

.container__title {
    color: var(--white);
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 24px;
}

.container__text {
    color: var(--white);
}