.price {
    display: flex;
    position: absolute;
    top: 5rem;
    left: 45rem;
    background-color: var(--blue);
    color: var(--white);
    padding: 16px 109px;
    border-radius: 8px;
}


.price__text-1 {
    font-weight: 700;
    font-size: 12px;
    padding-right: 5px;
}

.price__text {
    font-size: 12px;
} 

.form {
    display: grid;
    justify-content: space-evenly;
    margin: -27rem 0 0 45rem;
    padding: 40px 40px 70px 40px;
    width: 36%;
    
    border-radius: 10px;
    background-color: var(--white);
}

.form__field {
    padding: 14px 108px;
    margin-bottom: 20px;
    border: 1px solid var(--grayish-blue);
    border-radius: 3px;
}

.form__send {
    background-color: var(--green);
    color: var(--white);
    padding: 16px 80px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.finale {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -64px 10px 10px 39rem;
}

.finale__notice, .finale__terms {
    font-size: 10px;
    font-weight: 500;
}

.finale__notice {
    color: var(--grayish-blue);
    padding-top: 10px;
}

.finale__terms {
    color: var(--red);
    margin-top: 10px;
    padding-left: 4px;
}